
/* button */
.button {
    background-color: burlywood; 
    border-block-color: black;
    padding: 6px 5px;
    border-radius: 8px;
    margin: 4px 2px;
}
/* link */
a:link {
    color:black;
    padding: 15px 20px;
    text-align: center; 
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
a:hover {
    color: blue;
}
.head {
    background-color: rgb(40, 40, 141);
}

/* images */
.computer, .navy, .education, .pastgrace, .teaching{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c3894;
    background-size: contain;
    min-height: 75%;
    background-attachment: fixed;
}
.computer {
    background-image: url("images/computer.png");
}
.education {
    background-image: url("images/graceschool.png");
}
.navy {
    background-image: url("images/Inservice.png")
}
.pastgrace{
    background-image: url("images/newyork.png")
}
.teaching{ 
    background-image: url("images/teaching.png")
}


/* text */
.caption {
    position: absolute;
    font-style: oblique;
    top: 40%;
    width: 100%;
    text-align:center;
}
.textSection, .title {
    position: relative;
    background-color: rgb(36, 58, 156);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.textSection {
    color: aliceblue;
    padding: 50px 80px;

}
/* quiz */
