.button {
    background-color: darkgoldenrod; 
    color: navy;
    border-block-color: black;
}
a:link {
    color:whitesmoke;
    padding: 15px 20px;
    text-align: center; 
}
a:hover {color: red;}